@media screen and (max-width: 768px) {
   #home, #contact,
   #jouers
   {
       color: black;
        text-align: center;
        color: black;
        font-size: x-large;
   }


   .bio-img
   {
      width:200px;
      height:300px;
   }
}

@media screen and (min-width: 768px) {
  
   #bio
   {
      height: 100vh;
   }
}